body {
  font-family: 'raleway', sans-serif;
  margin: 0;
}

h3 {
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

/* Header */

.header {
  background-color: #7477bf;
  color: white;
  display: flex;
  grid-area: header;
  align-items: baseline;
  padding: 20px 20px;
}

.light {
    font-weight: 100;
}

.header img {
    height: 20px;
    vertical-align: center;
}

#profile-img {
    height: 30px;
    align-self: center;
    border-radius: 50%;
}

.header h3 {
    padding: 10px;
}

header h1,
header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.bell {
  position: relative;
  min-width: 20px;
  margin-left: auto;
  margin-right: 20px;
  padding-right: 15px;
  border-right: 1px solid #4d4c72;
  line-height: 40px;
}

.bell-dot {
   position: absolute;
   width: 5px;
   height: 5px;
   top: 0;
   right: 15px;
   background-color: #81c98f;
   border-radius: 50%;
}

.bell-solo:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: .3s cubic-bezier(.31,-0.53,.65,1.44);
}

/* Navigation */

.nav {
  background-color: #4d4c72;
  display: flex;
  grid-area: navigation;
}

.nav a {
  padding: 15px;
  display: flex;
}

.nav img {
    width: 20px;
    opacity: 0.6;
}

.nav img:hover,
.nav img:active,
.nav img:focus {
    opacity: 1;
}

.nav a:focus,
.nav a:hover {
    border-top: 4px solid greenyellow;
    border-right: 4px solid #4d4c72;
    border-bottom: 4px solid #4d4c72;
    border-left: 4px solid #4d4c72;
    border-radius: 5px;
    cursor: pointer;
}

  .nav a {
    display: flex;
  }

  .nav img {
    width: 30px;
    margin: 0 auto;
  }


/* Main Dashboard */

.headline {
  color: black;
  font-weight: bold;
  margin-top: auto;
}

.main {
  display: grid;
  grid-area: main;
  grid-column-gap: 10px;
  padding: 20px;
  color: gray;
}

.main-header-search input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#alert {
    grid-column: 1;
    transition: transform .8s ease-out;
    width: 100%;
}

.alert-banner {
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #7377bf;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    height: 25px;
}

.alert-banner p:last-child {
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
}


/* Notification box from bell */

.notification-div {
    position: absolute;
    top: 75px;
    right: 187px;
    color: #4d4c72;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid greenyellow;
}

.phrase-div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
    transition: .3s;
}

.phrase-div button {
    border-radius: 5px;
    border: none;
    background-color: #df6f67;
    color: white;
    opacity: .7;
    margin-left: 10px;
}

.phrase-div button:hover {
    opacity: 1;
}

.phrase-div:last-child {
    border: none;
}

/* Traffic Header and Chart */

.traffic-header,
.traffic-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.traffic-nav li {
   font-size: .9em;
   font-weight: bold;
   padding: 5px 8px;
   list-style: none;
   cursor: pointer;
}

.traffic-nav li:hover {
    text-decoration: underline;
 }

 .traffic-active {
    background-color: #81c98f;
    color: white;
    border-radius: 10px;
}

/* Page Borders */

.daily,
.mobile-users,
.social-media,
.members,
.recent-activity {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Social Media */

.social-media {
  display: flex;
  flex-direction: column;
  border-top: none;
}

.social-header {
  margin: 0;
  padding-top: 10px;
}

.social-container {
    background-color: #fbfbfb;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.social-image {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7477bf;
    border-radius: 50%;
}

.social-image svg {
    max-height: 30px;
    fill: white;
}

.social-text p:first-child {
  color: #7477bf;
  font-weight: bold;
  margin: 0;
}

.social-text p:last-child{
  color: black;
  font-size: 50px;
  font-weight: lighter;
  margin: 0;
}
/* New Members */

.members-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

.members-container:last-child {
    border: none;
}

.profile-image {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.members-text {
  align-items: center;
  margin-left: 20px;
  line-height: 8px;
}

.members-text p {
  font-size: 18px;
}

.members-container p {
  margin-left: auto;
}

/* Recent Activity  */

.recent-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  align-items: flex-start;
}

.recent-container:last-child {
    border: none;
}

.recent-text {
  align-items: center;
  margin-left: 20px;
  line-height: 1.5em;
}

.recent-text p {
  font-size: 18px;
}

.recent-container p {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/* Message User  */

.widget-container {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 80px;
}

.form-field,
.form-area {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #fbfbfb;
}

button {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  background-color: #7477bf;
  color: white;
}

button:hover {
  cursor: pointer;
}

/* Settings Field */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Settings */

.toggle-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.setting-text {
    flex-basis: 200px;
    flex-shrink: 0;
}

.toggle-button-email,
.toggle-button-profile {
    color: white;
    background-color: #787878;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex-direction: row-reverse;
    width: 70px;
}

.off {
    flex-direction: row;
    background-color: #4d4c72;
}

.toggle-button-email p,
.toggle-button-profile p {
    padding: 0 10px;
    margin: 0;
}

.toggle-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

#timezone {
  font-family: inherit;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.settings-button {
  display: flex;
  justify-content: space-between;
}

#save,
#cancel {
  width: 49%;
}

#cancel {
  background-color: gray;
}

.settings {
  margin-bottom: 0;
}
/* Media Queries */

.widget-container-full, .widget-container-half {
    width: 95vw;
   }

@media (min-width: 768px) {
.grid-container {
  grid-template-columns: 55px 1fr;
  grid-template-areas:
    "header header"
    "navigation main";
 }

  .nav {
    flex-direction: column;
    align-items: center;
    width: 68px;
  }

  .nav a:hover,
  .nav a:focus {
      border-top: 4px solid #4d4c72;
      border-left: 4px solid greenyellow;
  }

  .main-header, #alert {
    grid-column: 1 / span 2;
  }

  .main {
      grid-template-columns: 50% ;
    }

  .traffic, .social-media {
      grid-column: 1 / span 2;
    }

  .daily, .members, .message {
      grid-column: 1 / span 1;
    }

  .mobile-users, .recent-activity, .settings {
      grid-column: 2 / span 1;
     }

  /* .widget-container {
    margin-top: 50px;
  } */

  .widget-container-full {
    width: 90vw;
}
  .widget-container-half {
    width: 45vw;
  }

  .social-media {
    flex-direction: row;
  }

  .social-container{
    width: 33%;
    margin-right: 40px;
  }

  .social-container:last-child {
        margin-right: 0;
    }
}

@media (min-width: 1024px) {
  .main-header {
    flex-direction: row;
  }

}
